@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient-to-r from-[#FFCC00] to-[#FFD633] !bg-[length:1400%_1400%] hover:saturate-[1.2] shadow duration-500 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-slate-900;
  }
  .btn {
    @apply !capitalize;
  }
}

@keyframes slow-pan {
  0% {
    transform: scale(2) translate(20%, -20%);
  }
  25% {
    transform: scale(1.75) translate(10%, -10%);
  }
  50% {
    transform: scale(1.5) translate(0%, 0%);
  }
  75% {
    transform: scale(1.75) translate(-10%, 10%);
  }
  100% {
    transform: scale(2) translate(-20%, 20%);
  }
}

.animate-slow-pan {
  animation: slow-pan 60s ease-in-out infinite;
}
